<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | About</title>
</head>
<body>

  <h1>About</h1>
  <p>Just a sample application from Ruby on Rails Tutorial Book !</p>

</body>
</html>

